.App {
  background-image: url('../helprs/BGimg/BG.png');
  /* Set rules to fill background */
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  overflow: scroll;
  scroll-behavior: smooth;
} 
::-webkit-scrollbar {
  display:none;
}

.Header{
  position: sticky;
  top: 0;
  display: flex; 
  height: 4em;
  width: 100%;
  justify-content: center; 
  align-items: center;
  /* z-index: 1; */
}

.Logo{
  margin-top: 10em;
  width: 30vh;
  z-index: 0;
  opacity: 0.8;
}

.MainArea{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 9em;
  transform: translate(-50%, -50%);
  /* z-index: 1; */
}

.mainArea_Header{
  /* border: 3px solid red; */
  position: fixed;
  top: 120;
  /* top: 3em; */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
h1.Title{
  margin: 0em 0.5em;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 3em;
  text-align: center; 
}

#SeachBar{
    /* width: 100%; */
  position: absolute;
  /* bottom: 1em; */
  /* display: block; */
  text-align: left;
  padding: 0.1em 1em; 
  width: 90%;
  height: 2.3em;
  margin: 2em 0.4em;
  /* background: rgb(2,0,36); */
  background: linear-gradient(90deg, rgba(2,0,36,0.6) 0%, rgba(40,5,105,0.5) 53%, rgba(255,255,255,0.3) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,0.6) 0%, rgba(40,5,105,0.5) 53%, rgba(255,255,255,0.3) 100%);
  background: -moz-linear-gradient(90deg, rgba(2,0,36,0.6) 0%, rgba(40,5,105,0.5) 53%, rgba(255,255,255,0.3) 100%);
  border-radius: 1em;
  color:#FFFFFF;
  border-color: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(255,255,255,0.3) 100%);
}

#SeachBar:focus{
  outline: none;
  border: 1px solid #ccc; 
  box-shadow: 1px 5px #ccc;
}
#SeachBar::-webkit-input-placeholder{
  color:#ffffffa8;
  text-align: center;
}


.blurBG{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: #000;
  opacity: 0.7;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(3px);
  z-index: 1;
  /* filter: blur(3px);
  -webkit-filter: blur(3px); */
  
}
.Loader{
  position: absolute;
}

/* .Entry:hover*/ 
.mainArea_slide{ 
  -webkit-animation: Top 1s linear forwards; 
  animation: Top 1s linear forwards;
  /* top: 0; */
  /* border: 3px solid red;  */
  z-index: 1;
}

.mainArea_slide #SeachBar{
  /* display: flex; */
  /* margin: 2em 0em; */
  bottom: 0.5em;
}

.animate_logo{
  /* -webkit-animation: LogoSlide 1s linear forwards;
  animation: LogoSlide 1s linear forwards; */
  /* background: rgb(40,5,105);
  background: linear-gradient(90deg, rgba(40,5,105,0.6) 0%, rgba(66,31,152,0.5) 23%, rgba(108,73,228,0.4) 63%, rgba(204,204,204,0.30284857571214) 100%); */
  /* margin-top: 2em; */
}



@keyframes MainAreaSlide {
  0%   {transform: translate(-50%, -10%);}
  25%  {transform: translate(-50%, -80%);}
  50%  {transform: translate(-50%, -120%);}
  100% {transform: translate(-50%, -250%);}
}
@keyframes Top {
  0%   {top: 3;}
  25%  {top: 2;}
  50%  {top: 1;}
  100% {top: 0.5em;}
}

@keyframes LogoSlide {
  0%   {transform: translateX(-10%, -10%) scale(0.8, 0.8);}
  /* 25%  {transform: translateY(-30%);} */
  /* 50%  {transform: translateY(-50%);}  */
  100% {transform: translate(-150%, -60%) scale(0.5, 0.5);}
}

/* Safari Only */
@media not all and (min-resolution:.001dpcm) 
{ @supports (-webkit-appearance:none) {

      @keyframes MainAreaSlide {
        0%   {transform: translate(-50%, -10%);}
        25%  {transform: translate(-50%, -80%);}
        50%  {transform: translate(-50%, -120%);}
        100% {transform: translate(-50%, -295%);}
      }
      #SeachBar{
        /* border-color: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(255,255,255,1) 100%); */
        border:  1px solid linear-gradient(120deg, rgba(2,0,36,0.6) 0%, rgba(40,5,105,0.5) 53%, rgba(255,255,255,0.3) 100%);
        border-color:initial;
      }
      .Logo{
        margin-top: 25em;
      }
      .MainArea{
        width: 35%;
      }
      h1.Title{
        font-size: 5.6em;
      }
      #SeachBar{
        width: 90%;
        font-size: 1.7em;
        display: flex;
        justify-content: center;
        /* height: ; */
      }
      .mainArea_slide #SeachBar{
        /* display: flex; */
        /* margin: 2em 0em; */
        top: 2em;
      }
    } 
}

/* Iphone X Potrait Only 
For More info Visit: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait){ 
  .App{
    background-image: url('../helprs/BGimg/MobileBG.jpg');
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    min-height: 100%;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

  .Logo{
    /* margin-top: 15em; */
    width: 9em;
  }

  h1.Title{
    font-size: 1.8em;
  }

  .MainArea{
    width: 70%;
  }

  #SeachBar{
    margin: 1em 0em;
    font-size: 1em;
    /* border:  1px solid linear-gradient(120deg, rgba(2,0,36,0.6) 0%, rgba(40,5,105,0.5) 53%, rgba(255,255,255,0.3) 100%); */
    border-color:rgba(2,0,36,0.6) rgba(40,5,105,0.5)  rgba(255,255,255,0.3) transparent;
    /* bottom: 3em; */
    /* width: 90%; */
  }

  #SeachBar:focus{
    box-shadow: 2px 4px #ccc;
  }

  .SearchBar_Appear{ 
    -webkit-animation: Top 1s linear forwards;
    animation: Top 1s linear forwards ;
  }

  .animate_logo{
    /* -webkit-animation: LogoSlide 1s linear forwards;
    animation: LogoSlide 1s linear forwards; */
  }

  @keyframes LogoSlide {
  0%   {transform: translateX(-10%, -10%) scale(0.8, 0.8);}
  100% {transform: translate(-150%, -60%) scale(0.5, 0.5);}
}

  /* @keyframes MainAreaSlide {
  0%   {transform: translate(-50%, -10%);}
  25%  {transform: translate(-50%, -80%);}
  50%  {transform: translate(-50%, -120%);}
  100% {transform: translate(-50%, -150%);}
  } */
  @keyframes Top {
    0%   {top:20em;}
    25%   {top:15em;}
    75%   {top:8em;}
    100% {top:4em;}
  }
}


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait){ 
  .App{
    background-image: url('../helprs/BGimg/MobileBG.jpg');
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    min-height: 100%;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

  .Logo{
    /* margin-top: 15em; */
    width: 9em;
  }

  h1.Title{
    font-size: 1.8em;
  }

  .MainArea{
    width: 70%;
  }

  #SeachBar{
    margin: 1em 0em;
    font-size: 1em;
    /* border:  1px solid linear-gradient(120deg, rgba(2,0,36,0.6) 0%, rgba(40,5,105,0.5) 53%, rgba(255,255,255,0.3) 100%); */
    border-color:rgba(2,0,36,0.6) rgba(40,5,105,0.5)  rgba(255,255,255,0.3) transparent;
    /* bottom: 3em; */
    /* width: 90%; */
  }

  #SeachBar:focus{
    box-shadow: 2px 4px #ccc;
  }

  .SearchBar_Appear{ 
    -webkit-animation: Top 1s linear forwards;
    animation: Top 1s linear forwards ;
  }

  .animate_logo{
    /* -webkit-animation: LogoSlide 1s linear forwards;
    animation: LogoSlide 1s linear forwards; */
  }

  @keyframes LogoSlide {
  0%   {transform: translateX(-10%, -10%) scale(0.8, 0.8);}
  100% {transform: translate(-150%, -60%) scale(0.5, 0.5);}
}

  /* @keyframes MainAreaSlide {
  0%   {transform: translate(-50%, -10%);}
  25%  {transform: translate(-50%, -80%);}
  50%  {transform: translate(-50%, -120%);}
  100% {transform: translate(-50%, -150%);}
  } */
  @keyframes Top {
    0%   {top:20em;}
    25%   {top:15em;}
    75%   {top:8em;}
    100% {top:4em;}
  }
}