.App {
  background-image: url("helprs/images/image1.png");
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  display: flex; 
} 

.Header{
  position: absolute;
  left: 50%; 
  transform: translate(-50%, -0%);
}

.Logo{
  margin: 40px 0px;
  width: 120px;
}

.Entry{
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /* display: flex;  */
  /* justify-content: center;  */
  flex-direction: column;
  text-align: center;
}
b.Title{
  color: #FFFFFF;
  font-size: 45px;
}
.SearchBar{
  justify-content: center;
  width: 100%;
  padding: 13px 20px;
  margin: 35px 0px;
  border: 1px solid #ccc;
  border-radius: 7px;
}
