.App {
  background-image: url('helprs/BGimg/BG.png');
  /* Set rules to fill background */
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
} 

.Header{
  position: absolute;
  left: 50%; 
  transform: translate(-50%, -0%);
}

.Logo{
  margin: 3em 0em;
  width: 9em;
}

.Entry{
  /* height: 40%; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /* border: 3px solid red; */
  margin: 0em 0em;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
h1.Title{
  margin: 0em 0.5em;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 3em;
  text-align: center;
}
.SearchBar{
  /* width: 100%; */
  padding: 0.7em 9em;
  margin: 2em 0.4em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.Appear{
  height: 110vh;
  width: 100vw;
  background-color: #EAEAEA;
  border-top-left-radius: 4em;
  border-top-right-radius: 4em;
  transform: translateY(-100%);
}
.Entry:hover ~ .Appear{
  -webkit-animation: slideIN 1s linear forwards;
  animation: slideIN 1s linear forwards ;
}
.Entry:hover .SearchBar{
  -webkit-animation: BarSlide 1s linear forwards;
  animation: BarSlide 1s linear forwards ;
}

@keyframes slideIN {
  0%   {transform: translateY(100%);}
  25%  {transform: translateY(75%);}
  50%  {transform: translateY(50%);}
  100% {transform: translateY(25%);}
}

@keyframes BarSlide {
  0%   {transform: translateY(-100%);}
  25%  {transform: translateY(-200%);}
  50%  {transform: translateY(-300%);}
  100% {transform: translateY(-600%);}
}