.display_tweets{
    width: 60%;
    /* max-height: 50%; */
    position:relative;
    left: 20%;
    /* transform: translate(50%, 0%); */
    /* border: 3px solid red; */
    margin: 3em 0;
    background-color: #14171aec;
    border-radius: 0.4em;
    overflow: hidden;

}
.display_btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid red; */
}

.display_btns button{
    width: 17em;
    height: 3em;
    /* border-radius: 0.6em; */
    /* border-end-end-radius: 0.6em; */
    margin: 2em 0;
    padding: 0;
    font-family: 'Roboto', 'BlinkMacSystemFont';
    font-size: 0.8em;
    background-color: rgba(248, 244, 244, 0.749);
    cursor: pointer;
}

.display_btns button:hover{
    cursor: pointer;
}

.positive_btn{
    border-bottom-left-radius: 0.6em;
    border-top-left-radius: 0.6em;
    border-right: 1px solid #657786;
}
.positive_btn:hover{
    background-color: #52b7f1d0;
    border: 1px solid #ccc; 
    box-shadow: -2px 4px #52b7f19f;
}
.positive_btn[clicked=true]{
    background-color: #52b7f1;
    border: 1px solid #ccc; 
    box-shadow: -2px 1px #52b7f19f;
}
.negative_btn{
    border-bottom-right-radius: 0.6em;
    border-top-right-radius: 0.6em;
}.negative_btn:hover{
    background-color: #f15264de;
    border: 1px solid #ccc; 
    box-shadow: 2px 4px #f1526498;;
}
.negative_btn[clicked=true]{
    background-color: #f15264;
    border: 1px solid #ccc; 
    box-shadow: 1px 2px #f1526498;
}
.hide_buttons{
    /* opacity: 0; */
    position: relative;
    /* transform: translateY(attr(scroll-pos)); */
    animation: FadeOut 0.5s linear forwards

}
.fadein_buttons{
    animation: FadeIn 0.5s linear forwards
}

.scroll_tweets{
    position: relative;
    overflow:scroll;
    /* border: 3px solid red; */
    max-height: 70vh;
}
.tweet_container{
    display: flex;
    /* margin: 1em 0.8em; */
    border-bottom: 1px solid #657786;
    margin: 0.5em 0.5em;
}

.tweet_container img{
    position:absolute;
    border-radius: 50%;
    margin: 0.5em 0.5em;
    width: 3em;
    height: 3em;
}

.tweet_container p, .user_info span{
    margin-left: 0.1em;
    /* border: 3px solid red; */
}

.verified_icon{
    color: #F5F8FA;
    width: 1.1em;
    height: 1.1em;
    margin-left: 0.3em;
}

.open_tweet{
    position: absolute;
    color: #1DA1F2;
    right: 0;
    margin-right: 1em;
    width: 1em;
    height: 1em;
} .open_tweet:hover {
    -webkit-filter: drop-shadow(0 0 8px #F5F8FA);
    filter: drop-shadow(0 0 8px #F5F8FA);
    /* filter: drop-shadow(0 0 0 8px #F5F8FA);   */
    cursor: pointer;
}

.tweet_text{
    color: #E1E8ED;
    margin: 0 0.8em;
    margin-bottom: 1em;
    font-size: 14px;
    padding-right: 1em;
    /* border: 3px solid red; */
}
.tweet_text b{
    font-size: 16px;
    color: #eceff1;
}

.tweet_date{
    width: 100%;
    /* font-family: 'Roboto', 'BlinkMacSystemFont'; */
    font-size: 12px;
    color: rgba(204, 204, 204, 0.774);
    /* border: 2px solid red; */
}
.tweet_date p{
    position:relative; 
    margin-left:5.8em; 
}
.tweet_analatics{
    /* margin-left:5.8em;  */
    width: 60vw;
    height: 2em;
    display: inline-flex;
    color: rgba(204, 204, 204, 0.774);
    /* border: 1px solid red; */
}
.tweet_analatics span{
    position: relative;
    margin-right:auto;
    left: 0;
    padding-right: 2vh;
}

.tweet_analatics p{
    /* margin: 0.3 3em; */
    margin: 0 0;
    border: 0 0;
    font-size: 0.8em;
    /* border: 1px solid blue; */
}

.analatics_icon{
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.5em;
    color: rgba(204, 204, 204, 0.774);
}

.analatics_icon_retweet{
    height: 1.8em;
    width: 1.8em;
    margin-right: 0.2em;
}

@keyframes FadeIn {
    0%   {transform: translateY(-100%); height: 2em;}
    25%  {transform: translateY(-40%); height: 3em;}
    50%  {transform: translateY(-20%); height: 4em;}
    100% {transform: translateY(0%); height: 5em;}
}
@keyframes FadeOut {
    0%   {transform: translateY(-20%); height: 5em;}
    25%  {transform: translateY(-40%); height: 4em;}
    50%  {transform: translateY(-80%); height: 3em;}
    100% {transform: translateY(-150%); height: 2em;}
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait){ 
    .scroll_tweets::-webkit-scrollbar{
        display: block;
    }
    .display_tweets{
        width: 90%;
        left: 5%;
        /* justify-content: center; */
        margin: 6em 0;
    }
    .tweet_container{
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .display_btns button{
        width: 10em;
    }
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait){ 

    .scroll_tweets::-webkit-scrollbar{
        display: block;
    }
    .display_tweets{
        width: 90%;
        left: 5%;
        /* justify-content: center; */
        margin: 6em 0;
    }
    .tweet_container{
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .display_btns button{
        width: 10em;
    }
}